body {
    padding-top: 70px;
}

.starter-template {
    padding: 40px 15px;
    text-align: center;
}

.starter-template>img {
    height: 50vh;
}

table {
    text-align: left;
}

div.thumbnail img {
    max-height: 200px;
}